certifi
chardet
click
cloudinary
decorator
dj-database-url
Django
djangorestframework
future
geocoder
gunicorn
idna
jsonfield
mock
pbr
Pillow
psycopg2
PyJWT
PySocks
pytz
ratelim
requests
six
twilio
urllib3
whitenoise
