{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-sm-4 offset-sm-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Register An Account</h5>
                    <hr />
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .errorlist{
        list-style-type: none;
        padding: 2px;
        margin: 0;
    }
</style>

{% if account_created %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Account Created</h5>
        </div>
        <div class="modal-body">
            Thank You for creating a Reportbook account. Your account was successfully created. Please open your email for additional instructions for your newly created account.
        </div>
        <div class="modal-footer">
            <a class="btn btn-block btn-primary" href="{% url 'home' %}">Ok</a>
        </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#myModal').modal('show')
    });
</script>
{% endif %}
{% endblock content %}