{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="row mt-4">
                <div class="col-sm-12">
                    <h4>Reporter Details</h4>
                    <hr />
                </div>
                <div class="container">
                    <ul class="list-group">
                        <li class="list-group-item">Username : {{ object.username }}</li>
                        <li class="list-group-item">Name : {{ object.get_full_name }}</li>
                        <li class="list-group-item">Email : {{ object.email }}</li>
                        <li class="list-group-item">Reports Made : {{ object_list.count }}</li>
                        <li class="list-group-item">Verifies : {{ verifies.verifies__count__sum }}</li>
                        {% if request.user == object %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-12 mt-2">
                                    <a href="{% url 'user:change-password' %}" class="btn btn-primary btn-sm btn-block font-weight-bold">
                                        <i class="fa fa-key" aria-hidden="true"></i>
                                        &nbspChange Password
                                    </a>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="row mt-4">
                <div class="col-sm-12">
                    <h4>Reports</h4>
                    <hr />
                </div>

                {% for report in object_list %}
                <div class="col-sm-4 mb-4" id="column_{{report.id}}">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">
                                {{ report.emergency }}
                                <small style="font-size: 0.5em;">{{ report.timestamp|timesince }} ago</small>
                                <span class="badge badge-primary float-right" id="verifies_{{ report.id }}">{{ report.verifies.count }}</span>
                            </h4>
                            <hr class="my-3">
                            <ul class="list-unstyled">
                                <li>Location : {{ report.address }}</li>
                            </ul>
                            <div class="float-right">
                                <a class="btn btn-outline-primary btn-sm" href="{% url 'report:report-details' report.id %}">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    &nbspDetails
                                </a>
                                <a
                                    class="btn-verify btn btn-primary btn-sm font-weight-bold"
                                    href="#"
                                    data-href="{% url 'report:report-verify-toggle' report.id %}"
                                    data-verifies="{{ report.verifies.count }}"
                                    data-reportID="{{ report.id }}"
                                >

                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                &nbsp
                                <span id="VerifyUnverify{{report.id}}">
                                    {% if request.user in report.verifies.all %}
                                        Unverify
                                    {% else %}
                                        Verify
                                    {% endif %}
                                </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
 </div>
{% endblock content %}