{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-4">
        <!-- <div class="col-sm-4 offset-sm-4"> -->
        <div class="col-sm-5">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Register An Account</h5>
                    <hr />
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="container-fluid">
                <div id="map" style="width: 100%; height: 635px;"></div>
            </div>
        </div>
    </div>
</div>

<style>
    .errorlist{
        list-style-type: none;
        padding: 2px;
        margin: 0;
    }
</style>

<script>
    var map, marker;

    function initMap(){
        map = new google.maps.Map(document.getElementById('map'),{zoom: 15, center: {lat: 6.9214, lng: 122.0790},})

        marker = new google.maps.Marker({
            position: {lat: 6.9214, lng: 122.0790},
            map: map,
        })

        google.maps.event.addListener(map, 'click', function(event) {
            placeMarker(event.latLng);
        });

        function placeMarker(location) {
            marker.setMap(null)
            marker = new google.maps.Marker({
                position: location, 
                map: map
            });

           
            $('#id_address').val('Geocoding Location, Please Wait...');
            url = 'https://maps.googleapis.com/maps/api/geocode/json?latlng='
            geocoder_url = url + marker.getPosition().lat() + ',' + marker.getPosition().lng() + '&key=AIzaSyBLvHFeixDacvhmdX-L_0EoG4of6n0pM1A'
            fetch(geocoder_url).then(res => res.json()).then((out) => {
                newAddress = out.results[0].formatted_address
                $('#id_address').val(newAddress);
            })

            newLat = marker.getPosition().lat()
            newLng = marker.getPosition().lng()

            $('#id_latitude').val(newLat);
            $('#id_longitude').val(newLng);
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLvHFeixDacvhmdX-L_0EoG4of6n0pM1A&callback=initMap" type="text/javascript"></script>

{% if account_created %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Account Created</h5>
        </div>
        <div class="modal-body">
            A new Responder Account was created successfully.
        </div>
        <div class="modal-footer">
            <a class="btn btn-block btn-primary" href="{% url 'report:report-timeline' %}">Ok</a>
        </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#myModal').modal('show')
    });
</script>
{% endif %}
{% endblock content %}