{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-sm-4 offset-sm-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Change Password</h5>

                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-block font-weight-bold">Submit</button>
                        <a href="#" class="btn btn-secondary btn-sm btn-block font-weight-bold">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    ul{
        list-style-type: none;
        padding: 2px;
        margin: 0;
    }
</style>

<script>
    $("input").addClass( "form-control" );

    $("#id_old_password").attr("placeholder", "Old Password")
    $("#id_new_password1").attr("placeholder", "New Password")
    $("#id_new_password2").attr("placeholder", "Confirm New Password")
</script>
{% endblock content %}