
<div class="myAlert-bottom">
  {% for notification in object_list %}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
      <strong class="alert-heading">{{notification.title}}</strong>
      <hr>
      <small>

        {% if notification.title == 'Responder Responding' %}
          <p class="mb-0">Responder : {{notification.sender}}</p>
        {% else %}
          <p class="mb-0">Reporter : {{notification.sender}}</p>
        {% endif %}
        <!-- Responder Responding
        Report Notification
        Nearby Emergency -->
        <p class="mb-0 mt-0">Address : {{notification.report.address}}</p>
        <a 
          href=""
          class="view-detail"
          data-notification="{{notification.id}}"
          data-url="{% url 'user:responder-notification-viewed' notification.id %}"
          data-redirect="{% url 'report:report-details' notification.report.id %}"
        >
          View Report Details
        </a>
      </small>

      <a 
        href="" 
        class="notif-close close" 
        data-dismiss="alert"
        data-notification="{{notification.id}}"
        data-url="{% url 'user:responder-notification-viewed' notification.id %}"
      >
        <span aria-hidden="true">&times;</span>
      </a>
  </div>
{% endfor %}
<script>
$('.view-detail').click(function(e){
  e.preventDefault()
  var this_ = $(this)
  var notification_id = this_.attr('data-notification')
  var notification_url = this_.attr('data-url')
  var notification_redirect = this_.attr('data-redirect')

  $.ajax({
    url: notification_url,
    method: 'GET',
    data: {},
    success: function(data){
      window.location.href = notification_redirect
    },
    error: function(error){
      console.log(error)
    }
  })
})

// Notification close event function (Notification)
$('.notif-close').click(function(e){
  e.preventDefault()
  var this_ = $(this)
  var notification_id  = this_.attr('data-notification')
  var notification_url = this_.attr('data-url')

  $.ajax({
    url: notification_url,
    method: 'GET',
    data: {},
    success: function(data){},
    error: function(error){}
  })
})
</script>
</div>