
<div class="myAlert-bottom">
  {% for notification in object_list %}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
      <strong class="alert-heading">{{notification.title}}</strong>
      <hr>
      <small>
        <p class="mb-0">Reporter : {{notification.sender}}</p>
        <p class="mb-0 mt-0">Address : {{notification.report.address}}</p>
        <a 
          href=""
          class="view-detail"
          data-notification="{{notification.id}}"
          data-url="{% url 'user:responder-notification-viewed' notification.id %}"
          data-redirect="{% url 'report:report-details' notification.report.id %}"
        >
          View Report Details
        </a>
      </small>

      <a 
        href="" 
        class="notif-close close" 
        data-dismiss="alert"
        data-notification="{{notification.id}}"
        data-url="{% url 'user:responder-notification-viewed' notification.id %}"
      >
        <span aria-hidden="true">&times;</span>
      </a>
  </div>
{% endfor %}
{% load static %}
<script src="{% static 'js/notification.js' %}"></script>
</div>