<script type="text/javascript">
    $('.btn-verify').click(function(e){
        e.preventDefault()
        var this_ = $(this)
        var verify_url  = this_.attr('data-href')
        var verifyCount = parseInt(this_.attr('data-verifies'))
        var reportID    = parseInt(this_.attr("data-reportID"))
        $.ajax({
            url: verify_url,
            method: 'GET',
            data: {},
            success: function(data){
                var newCount
                if(data.verified){
                    newCount = verifyCount + 1
                    this_.attr("data-verifies", newCount)
                    $('#VerifyUnverify'+reportID).text('Unverify')
                    $('#verifies_'+reportID).text(newCount)
                }else{
                    newCount = verifyCount - 1
                    this_.attr("data-verifies", newCount)
                    $('#VerifyUnverify'+reportID).text('Verify')
                    $('#verifies_'+reportID).text(newCount)
                }
            },
            error: function(error){
                console.log('Error ' + error)
            }
        })
    }) // $('.btn-verify').click()

    {% if request.user.is_authenticated %}
    function notify(){
      $("#notificationView").load("{% url 'report:report-notification' %}");
    }

    notify()

    setInterval(function(){
        notify()
    }, 5000)
    {% endif %}
</script>
