{% extends 'base.html' %}

{% block content %}
<!-- Intentionally! -->
<div id="map" class="container-fluid" style="height: 300px"><!-- Google Map Goes Here... --></div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Reportbook</h1>
        <p class="lead">A Web Based Emergency Reporting System that redirects incident reports to the responders nearest to the location of the reported incident.</p>
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-6">
                <p>Coordinates : <span id="userLat"></span> (Lat) <span id="userLng"></span> (Lng)</p>
                <p>Address : <span id="userAddress"></span></p>
                <small><p id="id_info"></p></small>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'report:report-create' %}" class="btn btn-lg btn-block btn-primary font-weight-bold align-self-center">REPORT AN EMERGENCY</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-4">
        <div class="col-sm-12">
            <h5>Recent Reports</h5>
            <hr />
        </div>
        
        {% if object_list %}
            {% for report in object_list %}
            <div class="col-sm-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            {{ report.emergency }}
                            <span class="badge badge-primary float-right">{{ report.verifies.count }}</span>
                        </h4>
                        <hr class="my-3">
                        <ul class="list-unstyled">
                            <li>Reporter : {{ report.reporter }}</li>
                            <li>Occured : {{ report.timestamp|timesince }} ago</li>
                            <li>Location : {{ report.address }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="col-sm-12 mb-3">
            <h5 class="lead">No Recent Reports!</h5>
        </div>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-sm-12">
            <h5>Registered Responders</h5>
            <small><a href="{% url 'responders' %}">View List Of Responders</a></small>
            <hr />
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5>
                                Fire Stations
                                <span class="badge badge-primary float-right">{{ stations.fire }}</span>
                            </h5>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLvHFeixDacvhmdX-L_0EoG4of6n0pM1A&callback=initMapLandingPage" type="text/javascript"></script>
{% endblock content %}