{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-sm-12">
            <h4>Fire Stations</h4>
            <hr />
        </div>
        {% if not context.fire_stations %}
        <div class="col-sm-12">
            <p class="lead">No Fire Stations Are Registered</p>
        </div>
        {% endif %}
        <div class="col-sm-12">
            <div class="row">
                {% for fire_station in context.fire_stations %}
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ fire_station.display_name }}
                                </h5>
                                <hr class="my-3">
                                <ul class="list-unstyled">
                                    <li>Phone Number : {{ fire_station.phone_number }}</li>
                                    <li>Email : {{ fire_station.user.email }}</li>
                                    <li>Address : {{ fire_station.address }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}